p {
    color: dodgerblue;
    text-align: center;
    font-family: Century Gothic;
    font-size: 25px;
    font-weight: bold;
}

#userName {
    border: none;
    border-bottom: 2px solid dodgerblue;
    display: block;
    width: 50%;
    padding: 20px 20px;
    margin: 20px 25%;
    font-family: Century Gothic;
    font-size: 20px;
    color: dodgerblue;
    text-align: center;
}

#btnSubmit {
    width: 30%;
    font-family: Century Gothic;
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    margin: 20px 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;

}

#btnSubmit:hover {
    background-color: darkcyan;
}


textarea {
    width: 80%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 20px 130px;
    font-size: 18px;
    font-family: Bodoni MT;
    word-spacing: 5px;
    line-height: 1.5;
    color:green ;
}

input[name=chatText] {
    width: 80%;
    padding: 10px 20px;
    margin: 8px 130px;
    box-sizing: border-box;
    border: 2px solid darkcyan;
    background-color:#f8f8f8;
    color:darkcyan;
    border-radius: 3px;
    font-family: Century Gothic;
    font-size: 18px;
    text-align: center;

}

#btnReply {
    width: 25%;
    font-family: Century Gothic;
    background-color: darkcyan;
    color: white;
    padding: 7px 20px;
    margin: 10px 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    display: block;
}

#btnReply:hover {
    background-color: dodgerblue;
}

#btnLogout {
    width: 25%;
    font-family: Century Gothic;
    background-color: brown;
    color: white;
    padding: 7px 20px;
    margin: 0px 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    display: block;


}

#btnLogout:hover {
    background-color: red;
}

#checkBox{
    color: blue;
    float: right;
    margin-right: 10%;
    font-family: Century Gothic;
}

